
/* 
 *
 */
@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
}

#main-wrapper {
	height: 100%;
	padding-top: 48px;
	position: absolute;
	width: 100%
}

#main-container {
	min-height: 100%;
	margin-left: 48px;
	position: relative;
	width: calc(100% - 48px);
}

.btn.glyphicon {
	top: 0;
}

@media screen and (min-width: 769px) {

	#main-wrapper {
		padding-top: 56px;
	}
	
	#main-container {
		margin-left: 272px;
		width: calc(100% - 272px);
	}
	
}
