
/* 
 *
 */
@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
}

#main-wrapper {
	height: 100%;
	padding-top: 48px;
	position: absolute;
	width: 100%
}

#main-container {
	min-height: 100%;
	margin-left: 48px;
	position: relative;
	width: calc(100% - 48px);
}

.btn.glyphicon {
	top: 0;
}

#places-map,
#places-list {
	height: 100%;
	position: absolute;
	transition-property: right, width;
	transition-duration: 500ms;
	transition-timing-function: ease-out;
}

#places-map {
	width: calc(100% - 48px);
}

#places-list {
	background-color: #fff;
	right: -224px;
	width: 272px;
}

#places-list.toggled {
	right: 0;
}

#places-list-toggler {
	background-color: red;
	border: none;
	border-radius: 50%;
	height: 40px;
	left: -20px;
	outline: none;
	position: absolute;
	top: 20px;
	transition-property: width;
	transition-duration: 500ms;
	transition-timing-function: ease-out;
	width: 40px;
	z-index: 1;
}

#places-list ul {
	list-style: none;
	margin: 0;
	max-height: 100%;
	overflow-y: hidden;
	padding: 0;
	width: 100%;
}

#places-list.toggled ul {
	overflow-y: auto;
}

#places-list li {
	float: left;
	padding-bottom: 50%;
	position: relative;
	width: 50%;
}

#places-list li > a {
	height: 100%;
	left: 0;
	padding: 12px;
	position: absolute;
	top: 0;
	width: 100%;
}

#places-list li > a:hover {
	background-color: #eee;
	text-decoration: none;
}

@media screen and (min-width: 769px) {

	#main-wrapper {
		padding-top: 56px;
	}
	
	#main-container {
		margin-left: 272px;
		width: calc(100% - 272px);
	}
	
}

@media screen and (min-width: 1025px) {

	#places-map {
		width: calc(100% - 272px);
	}
	
	#places-list {
		right: 0;
		width: 272px;
	}

	#places-list-toggler {
		display: none;
	}
	
	#places-list ul {
		overflow-y: auto;
	}
	
}

@media screen and (min-width: 1601px) {

	#places-map {
		width: calc(100% - 768px);
	}
	
	#places-list {
		width: 768px;
	}
	
	#places-list li {
		padding-bottom: 25%;
		width: 25%;
	}
}
