/* 
 *
 */
 
@CHARSET "UTF-8";

#main-menu,
#main-menu-header {
	width: 48px;
}

#main-menu,
#main-menu-header, 
#main-menu-header::before,
#account-picture, 
.menu:first-child,
#main-container {
	transition-delay: 250ms;
	transition-duration: 500ms;
	transition-timing-function: ease-out;
}

#main-menu {
	background-color: #128AB2;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	padding-top: 48px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#main-menu-header {
	background-color: #333;
	position: relative;
}

#main-menu-header::before {
	content: '';
	display: block;
	height: 0;
	padding-top: 100%;
	width: 100%;
}

#account-picture,
.menu:first-child {
	transition-duration: 250ms;
	transition-delay: 100ms;
}

#account-picture {
	background-color: #666;
	border-radius: 50%;
	bottom: 0;
	height: 0;
	left: 50%;
	position: absolute;
	width: 0;
	z-index: 2;
}

.menu {
	list-style: none;
	margin: 0 0 12px;
	padding: 0;
	width: 272px;
}

.menu .sign-out a {
/* 	color: #FF1954; */
}

.menu a,
.menu p {
	color: #ccc;
	display: block;
	padding: 16px;
	padding-left: 48px;
	text-decoration: none;
}

.menu a:hover,
.menu a:focus {
	background-color: #333;
}

.menu input[type=text] {
	background-color: rgba(255, 255, 255, 0.15);
	border: none;
	border-bottom: 1px solid #999;
	border-radius: 0;
}

#main-wrapper.navigable #main-menu,
#main-wrapper.navigable #main-menu-header, 
#main-wrapper.navigable #main-menu-header::before,
#main-wrapper.navigable #main-container {
	transition-delay: 0s;
}

#main-wrapper.navigable #main-menu,
#main-wrapper.navigable #main-menu-header {
	width: 272px;
}

#main-wrapper.navigable #main-menu-header::before {
	padding-top: 56.25%;
}

#main-wrapper.navigable #account-picture,
#main-wrapper.navigable .menu:first-child {
	transition-delay: 500ms;
}

#main-wrapper.navigable #account-picture {
	bottom: -48px;
	height: 96px;
	margin-left: -48px;
	width: 96px;
}

#main-wrapper.navigable .menu:first-child {
	margin-top: 60px;
}

#main-wrapper.navigable #main-container {
	margin-left: 272px;
	pointer-events: none;
}

@media screen and (min-width: 769px) {

	#main-menu {
		padding-top: 56px;
	}

	#main-menu,
	#main-menu-header {
		width: 272px;
	}

	#main-wrapper #main-menu-header::before {
		padding-top: 56.25%;
	}

	#main-menu-toggler {
		display: none;
	}
	
	#main-wrapper #account-picture {
		bottom: -48px;
		height: 96px;
		margin-left: -48px;
		width: 96px;
	}
	
	#main-wrapper .menu:first-child {
		margin-top: 60px;
	}
	
	#main-container {
		pointer-events: auto;
	}
	
}














