/* 
 * Profile page
 */
 
@CHARSET "UTF-8";

#profile-header {
	margin-bottom: 16px;
	padding: 48px;
	position: relative;
}

#profile-cover {
	background-color: #eee;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#profile-header-content {
	height: auto;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

#profile-picture {
	background: #ddd;
	border-radius: 50%;
	height: 172px;
	margin: 0 auto 24px;
	width: 172px;
}

#profile-header h1 {
	color: white;
	font-size: 4em;
	margin: 0;
	text-align: center;
	text-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}