
/* 
 *
 */
@CHARSET "UTF-8";

#profile-header {
	margin-bottom: 16px;
	overflow: hidden;
	padding: 48px;
	position: relative;
}

#profile-cover {
	background-color: #eee;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#profile-header-content {
	align-items: center;
	z-index: 2;
}

#profile-picture {
	background: #ddd;
	border-radius: 50%;
	height: 172px;
	margin: 0 auto 24px;
	width: 172px;
}

#profile-header h1 {
	font-size: 4em;
	margin: 0;
	text-align: center;
}